In [1]:
import pandas as pd

In [2]:
df =pd.read_csv("cleaned_dataset.csv")

In [3]:
df.head()

,OrderID,OrderDate,CustomerID,CustomerName,ProductID,ProductName,Category,Brand,Quantity,UnitPrice,Discount,TotalAmount,PaymentMethod,OrderStatus,City,Country,SellerID
0,ORD0075722,2022-12-22,CUST006588,Sahil Gupta,P00003,Smartphone Case,Clothing,Zenith,4,298.45,0.05,1144.54,Debit Card,Delivered,Columbus,India,SELL01349
1,ORD0080185,2023-05-12,CUST005827,Pooja Patel,P00032,Board Game,Toys & Games,ReadMore,2,154.48,0.00,341.31,Credit Card,Delivered,Jacksonville,India,SELL00680
2,ORD0019865,2021-09-08,CUST019087,Arjun Kumar,P00014,Drone Mini,Home & Kitchen,Apex,3,400.34,0.05,1243.58,Debit Card,Delivered,Chicago,United States,SELL00556
3,ORD0076700,2023-03-12,CUST000432,Aman Kumar,P00034,Desk Organizer,Books,Apex,1,175.53,0.10,175.42,Debit Card,Shipped,Houston,United States,SELL00299
4,ORD0092992,2022-09-10,CUST011736,Aarav Sharma,P00016,Air Fryer,Books,ReadMore,5,190.37,0.00,1077.22,Credit Card,Delivered,Charlotte,United States,SELL01625

In [7]:
cols_to_drop = ["CustomerName", "ProductName", "Category","Brand","PaymentMethod","OrderStatus","Country"]
df_new = df.drop(columns=cols_to_drop)

In [9]:
df_new.head()

,OrderID,OrderDate,CustomerID,ProductID,Quantity,UnitPrice,Discount,TotalAmount,City,SellerID
0,ORD0075722,2022-12-22,CUST006588,P00003,4,298.45,0.05,1144.54,Columbus,SELL01349
1,ORD0080185,2023-05-12,CUST005827,P00032,2,154.48,0.00,341.31,Jacksonville,SELL00680
2,ORD0019865,2021-09-08,CUST019087,P00014,3,400.34,0.05,1243.58,Chicago,SELL00556
3,ORD0076700,2023-03-12,CUST000432,P00034,1,175.53,0.10,175.42,Houston,SELL00299
4,ORD0092992,2022-09-10,CUST011736,P00016,5,190.37,0.00,1077.22,Charlotte,SELL01625

In [10]:
df_new.to_csv("clean_dataset_numeric.csv", index=False)