In [9]:
import os

os.getcwd()

'C:\\Users\\Muskan\\OneDrive\\Desktop\\AI_Price_optima\\data'

In [10]:
os.listdir()

['.ipynb_checkpoints',
 '.virtual_documents',
 'daily_ingest',
 'ingest.py',
 'processed',
 'raw']

In [17]:
import pandas as pd

df = pd.read_csv("raw/Amazon.csv")  # change name if needed
df.head()

,OrderID,OrderDate,CustomerID,CustomerName,ProductID,ProductName,Category,Brand,Quantity,UnitPrice,Discount,Tax,ShippingCost,TotalAmount,PaymentMethod,OrderStatus,City,State,Country,SellerID
0,ORD0000001,2023-01-31,CUST001504,Vihaan Sharma,P00014,Drone Mini,Books,BrightLux,3,106.59,0.00,0.00,0.09,319.86,Debit Card,Delivered,Washington,DC,India,SELL01967
1,ORD0000002,2023-12-30,CUST000178,Pooja Kumar,P00040,Microphone,Home & Kitchen,UrbanStyle,1,251.37,0.05,19.10,1.74,259.64,Amazon Pay,Delivered,Fort Worth,TX,United States,SELL01298
2,ORD0000003,2022-05-10,CUST047516,Sneha Singh,P00044,Power Bank 20000mAh,Clothing,UrbanStyle,3,35.03,0.10,7.57,5.91,108.06,Debit Card,Delivered,Austin,TX,United States,SELL00908
3,ORD0000004,2023-07-18,CUST030059,Vihaan Reddy,P00041,Webcam Full HD,Home & Kitchen,Zenith,5,33.58,0.15,11.42,5.53,159.66,Cash on Delivery,Delivered,Charlotte,NC,India,SELL01164
4,ORD0000005,2023-02-04,CUST048677,Aditya Kapoor,P00029,T-Shirt,Clothing,KiddoFun,2,515.64,0.25,38.67,9.23,821.36,Credit Card,Cancelled,San Antonio,TX,Canada,SELL01411

In [18]:
df.columns.tolist()

['OrderID',
 'OrderDate',
 'CustomerID',
 'CustomerName',
 'ProductID',
 'ProductName',
 'Category',
 'Brand',
 'Quantity',
 'UnitPrice',
 'Discount',
 'Tax',
 'ShippingCost',
 'TotalAmount',
 'PaymentMethod',
 'OrderStatus',
 'City',
 'State',
 'Country',
 'SellerID']

In [19]:
sales_columns = [
    "OrderID",
    "OrderDate",
    "CustomerID",
    "ProductID",
    "Quantity",
    "UnitPrice",
    "Discount",
    "Tax",
    "ShippingCost",
    "TotalAmount",
    "PaymentMethod",
    "OrderStatus",
    "City",
    "State",
    "Country"
]

inventory_columns = [
    "ProductID",
    "ProductName",
    "Category",
    "Brand",
    "SellerID"
]

sales_df = df[sales_columns].copy()
inventory_df = df[inventory_columns].copy()

sales_df.head(), inventory_df.head()

(      OrderID   OrderDate  CustomerID ProductID  Quantity  UnitPrice  \
 0  ORD0000001  2023-01-31  CUST001504    P00014         3     106.59
 1  ORD0000002  2023-12-30  CUST000178    P00040         1     251.37
 2  ORD0000003  2022-05-10  CUST047516    P00044         3      35.03
 3  ORD0000004  2023-07-18  CUST030059    P00041         5      33.58
 4  ORD0000005  2023-02-04  CUST048677    P00029         2     515.64

    Discount    Tax  ShippingCost  TotalAmount     PaymentMethod OrderStatus  \
 0      0.00   0.00          0.09       319.86        Debit Card   Delivered
 1      0.05  19.10          1.74       259.64        Amazon Pay   Delivered
 2      0.10   7.57          5.91       108.06        Debit Card   Delivered
 3      0.15  11.42          5.53       159.66  Cash on Delivery   Delivered
 4      0.25  38.67          9.23       821.36       Credit Card   Cancelled

           City State        Country
 0   Washington    DC          India
 1   Fort Worth    TX  United States
 2       Austin    TX  United States
 3    Charlotte    NC          India
 4  San Antonio    TX         Canada  ,
   ProductID          ProductName        Category       Brand   SellerID
 0    P00014           Drone Mini           Books   BrightLux  SELL01967
 1    P00040           Microphone  Home & Kitchen  UrbanStyle  SELL01298
 2    P00044  Power Bank 20000mAh        Clothing  UrbanStyle  SELL00908
 3    P00041       Webcam Full HD  Home & Kitchen      Zenith  SELL01164
 4    P00029              T-Shirt        Clothing    KiddoFun  SELL01411)

In [20]:
sales_df = sales_df.sample(n=min(50, len(sales_df)), random_state=42)
inventory_df = inventory_df.sample(n=min(50, len(inventory_df)), random_state=42)

In [22]:
sales_df.to_csv("raw/sales_data.csv", index=False)
inventory_df.to_csv("raw/inventory_data.csv", index=False)

print("✅ sales_data.csv and inventory_data.csv created successfully!")

✅ sales_data.csv and inventory_data.csv created successfully!

In [25]:
inventory_df.to_csv("raw/inventory_data.csv", index=False)
print("inventory_data.csv recreated")

inventory_data.csv recreated